.td_sup{
    align-items: center;
    justify-content: center;
    background-color: #d44000;
}
.td_inf{
    align-items: center;
    justify-content: center;
    background-color: #ff7a00;
}
.td_but {
    align-items: center;
    justify-content: center;
    background-color: #583717;
}

.user_text{
    align-items: center;
    justify-content: center;
    size: 16;
    border-width: 2px;
    border-style: solid;
    color: #252524;
    letter-spacing: 2px;
    font-size: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.input_text{
    align-items: center;
    justify-content: center;
    size: 16;
    border-width: 2px;
    border-style: solid;
    color: #009900;
    letter-spacing: 2px;
    font-size: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

input{
    height: 20px;
    width: 100px;
    background: rgb(109, 209, 240);
    float: left;
}


body{
    margin: 0;
    background-image: url(vista2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
}


table{
    margin-top: 10px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border: 1;
    border-collapse: collapse;
}
p{
    font-size: 30px;
    align-items: center;
    justify-content: center;
    color: rgb(255, 254, 253);
}

a{
    font-size: 25px;
    align-items: center;
    justify-content: center;
    color: rgb(27, 179, 199);
}