body{
    margin: 0px;
    padding: 0px;
}

.container .image{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.container .menu-icon{
    position: absolute;
    color: whitesmoke;
    font-size: 30px;
    left: 42px;
    top: 24px;
    cursor: pointer;
    z-index: 1;
}
.menu-container{
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: rgba(0,0,0,0.6);
    overflow: hidden;
}
.menu-content{
    position: relative;
    top: 8%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

}
.menu-content a{
    padding: 16px;
    text-decoration: double;
    font-size: 20px;
    color: bisque;
    display: block;
    font-family: sans-serif;
}
.menu-content a:hover{
    background-color: rgb(247, 153, 14);
}
.menu-container .closebtn{
    position: absolute;
    top: 36px;
    right: 48px;
    font-size: 30px;
    color: white;
    z-index: 1;
    cursor: pointer;
}